.msg, .buttonCriar{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #f4f4f9;
    min-height: 100vh;
  }

  .title {
    font-family: 'Arial', sans-serif;
    font-size: 2rem; 
    text-align: center;
    color: transparent;
    background-image: linear-gradient(135deg, #218981, #28895e); 
    background-clip: text;
    -webkit-background-clip: text;
    animation: fadeIn 1s ease-out; 
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-top: 20px; 
    letter-spacing: 1px;
  }

  /* Contêiner dos eventos */
  .eventosContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
    margin-top: 30px;
  }

  .Descricao{
    justify-content: center;
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
  }
  
  /* Estilo do card de evento */
  .eventCard {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 230px; /* Largura do card */
    text-align: center;
    transition: transform 0.2s ease-in-out; /* Efeito de hover */
  }
  
  .eventCard:hover {
    transform: translateY(-5px); 
  }
  

  .eventImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  /* Título do evento */
  .eventTitle {
    font-size: 18px;
    color: #007BFF;
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Data e localização do evento */
  .eventDate {
    margin-top: 6px;
    font-size: 15px;
    color: #0b0b0b;
    
  }

  .msg {
    font-size: 18px;
    color: #888;
    text-align: center;
  }
  
  /* Botão de criar evento */
  .buttonCriar {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .buttonCriar:hover {
    background-color: #0056b3;
  }

  .Icones {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .Icones:hover {
    color: #007bff; 
  }


  
  